<br />

<div class="box col-xs-10 col-xs-offset-1 text-center">
  <h1><u><%= current_lesson.title %></u></h1>
  <p>
    <h4><%= current_lesson.subtitle %></h4>
  </p><br/>
  <%= link_to 'Video', current_lesson.video.to_s%>
</div>